img { 
  width: 100%; 
}
table {
margin:15px ;
text-align: justify;
}
table td{
padding:30px;
}
.Motsepe{
position: absolute;
margin: -820px 0 0 50px;
width: 250px;
}
.w3-button w3-teal w3-xlarge{
padding: 100px;
position: absolute;


}
.w3-teal{
margin:50px 0 0 500px;
position: absolute;

}
.w3-sidebar{ 
margin: 100px 0 0 1080px;
}
.button-ctn{
  position:absolute;
  padding: 615px 0 0 550px;
  
}
button{
  background:#ffea00;
  color:#00553f;
  border-radius: 10px;
  border-color:#ffea00;
  width:150px;
  padding: 15px 32px;
  font-size: 17px;
  font-family:lato;
  font-weight: bolder;
  
}
.navbar  {
  position: absolute;
  padding: 14px 16px;
  margin:100px 0 90px 900px;
  color:white;
   
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}
